<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <a th:href="@{/index/doc}" class="btn btn-info btn-block">API Document</a>
    <a th:href="@{/api/download/apk/app-debug.apk}" class="btn btn-info btn-block">Download APK</a>
</body>
</html>