<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Login Form</h1>
    <form th:action="@{/login.do}" th:method="POST">
        <input th:placeholder="username" name="username" class="form-control" autocomplete="off" required><br>
        <input th:type="password" th:placeholder="password" name="password" class="form-control" autocomplete="off"
               required><br>
        <input th:type="submit" th:value="Register" class="btn btn-default">
    </form>
</div>
</body>
</html>